//=================================================
// Typography
//=================================================

/*=============================
// Headings
=============================*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    &:not([class*='-title']):not([class*='__title']):not([class*='-heading']):not([class*='__heading']):not([class*='-header']):not([class*='-t-head']) {
        color: $body_headline_color;
    }

    font-family: $font_primary_bold;
    font-weight: 700;
    line-height: 1.31;
    @include lhCrop-b(1.31, 0.75);
    
    &:last-child {
        @include lhCrop-a(1.31, 0.75);
        margin-bottom: 0;
    }

    &.after {
        @include lhCrop-a(1.31, 0.75);
    }

    a {
        color: $body_headline_color;
    }
}

h1, .h1 {
    margin-bottom: $space_pc_secondary - $h1_font_mb;
    line-height: 1.47;

    @include lhCrop-b(1.47, 0.75);

    &:last-child {
        @include lhCrop-a(1.47, 0.75);
        margin-bottom: 0;
    }

    &.after {
        @include lhCrop-a(1.47, 0.75);
    }

    &.large {
        font-size: 4rem;
        margin-bottom: 0.526rem;
        line-height: 1.22;

        @include lhCrop-b(1.22, 0.75);

        &:last-child {
            @include lhCrop-a(1.22, 0.75);
            margin-bottom: 0;
        }

        @media #{$media_xxl} {
            font-size: 4.4705vw;
        }

        @media #{"(max-width: 886px)"} {
            font-size: $h1-font-size;
        }
    }
}

h2, .h2 {
    margin-bottom: $space_pc_secondary - $h2_font_mb;
    line-height: 1.44;

    @include lhCrop-b(1.44, 0.75);

    &:last-child {
        @include lhCrop-a(1.44, 0.75);
        margin-bottom: 0;
    }

    &.after {
        @include lhCrop-a(1.44, 0.75);
    }
}

h3, .h3 {
    margin-bottom: $space_pc_secondary - $h3_font_mb;
    line-height: 1.45;

    @include lhCrop-b(1.45, 0.75);

    &:last-child {
        @include lhCrop-a(1.45, 0.75);
        margin-bottom: 0;
    }

    &.after {
        @include lhCrop-a(1.45, 0.75);
    }
}

h4, .h4 {
    margin-bottom: $space_pc_secondary - $h4_font_mb;
    line-height: 1.48;

    @include lhCrop-b(1.48, 0.75);

    &:last-child {
        @include lhCrop-a(1.48, 0.75);
        margin-bottom: 0;
    }

    &.after {
        @include lhCrop-a(1.48, 0.75);
    }
}

h5, .h5 {
    margin-bottom: $space_pc_secondary - $h5_font_mb;
    line-height: 1.52;

    @include lhCrop-b(1.52, 0.75);

    &:last-child {
        @include lhCrop-a(1.52, 0.75);
        margin-bottom: 0;
    }

    &.after {
        @include lhCrop-a(1.52, 0.75);
    }
}

h6, .h6 {
    margin-bottom: $space_pc_secondary - $h6_font_mb;
    line-height: 1.63;

    @include lhCrop-b(1.63, 0.75);

    &:last-child {
        @include lhCrop-a(1.63, 0.75);
        margin-bottom: 0;
    }

    &.after {
        @include lhCrop-a(1.63, 0.75);
    }
}

/*=============================
// Paragraph
=============================*/
p {
    line-height: 1.79;
    font-size: 1rem;
    margin-bottom: 0;
    @include lhCrop-b(1.79, 0.80);

    &:last-child {
        @include lhCrop-a(1.79, 0.65);

        &[class*="bg-"] {
            &:after {
                display: none;
            }
        }
    }

    &.before {
        @include lhCrop-b(1.79, 0.80);
    }

    &.after {
        @include lhCrop-a(1.79, 0.65)
    }

    &.no-before {
        &:before {
            display: none !important;
        }
    }

    &.no-after {
        &:after {
            display: none !important;
        }
    }

    &.p-small {
        font-size: $f_size_sm;
    }
    
    &.p-large {
        font-size: $f_size_lg * 1.2;
    }
}

span {
    &.s-small {
        font-size: $f_size_sm;
    }
    
    &.s-large {
        font-size: $f_size_lg * 1.2;
    }
}

i {
    &.i-small {
        font-size: $f_size_sm;
    }

    &.i-large {
        font-size: $f_size_lg * 1.2;
    }

    &.i-large-2 {
        font-size: $f_size_lg * 3.33;
    }
}

.small, small {
    line-height: 1.79;
    @include lhCrop-b(1.79, 0.80);

    &:last-child {
        @include lhCrop-a(1.79, 0.75);
    }
}

// Bold
strong, b {
    font-family: $font_primary_bold;
    font-weight: 700;
}

.site-main {
    p {
        margin-bottom: $space_pc_secondary - $p_font_mb;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/*=============================
// Blockquote
=============================*/
blockquote, .blockquote {
    @extend .style-default;
    border-left: 2px solid $body_main_element_secondary_color;
    color: $body_main_element_secondary_color;
    padding-left: 1.474rem;
    line-height: 1.68;
    margin-bottom: $space_pc_secondary;

    &:last-child {
        margin-bottom: 0;
    }

    p {
        font-family: $font_primary_bold;
        font-weight: 700;
        
        &:after, &:before {
            display: none;
        }

        &:last-child {
            margin-bottom: 0;

            &:after {
                display: none;
            }
        }
    }
}

/*=============================
// Lists
=============================*/
ul {
    list-style: none;
    margin-left: 1.3rem;
    padding: 0;

    li {
        line-height: 1.79;
        margin-bottom: $space_pc_secondary - $li_font_mb;
        @include lhCrop-b(1.79, 0.80);

        &:last-child {
            @include lhCrop-a(1.79, 0.65);
            margin-bottom: 0;
        }

        &:before {
            content: "\2022";
            color: $body_main_element_primary_color;
            width: 1rem;
            margin-left: -1.3rem;
        }
    }
    
    ol, ul {
        margin-top: $space_pc_secondary - $li_font_mb;
    }
}

ol {
    margin-left: 0.94rem;
    padding: 0;

    li {
        line-height: 1.79;
        @include lhCrop-b(1.79, 0.80);
        margin-bottom: $space_pc_secondary - $li_font_mb;
        
        &:last-child {
            @include lhCrop-a(1.79, 0.65);
            margin-bottom: 0;
        }
        
        ul {
            > li {
                &:before {
                    content: "\2022";
                }
            }
        }
        
        ol {
            > li {
                &:before {
                    content: "";
                }
            }
        }
        
        strong, p {
            line-height: 1.79;
        }
        
        p {
            @include lhCrop-b(1.79, 0.80);
            margin-top: $space_pc_secondary - $li_font_mb;
            margin-bottom: $space_pc_secondary - $li_font_mb;
            
            &:first-child {
                margin-top: 0;
            }
            
            &:last-child {
                @include lhCrop-a(1.79, 0.65);
                margin-bottom: 0;
            }
        }
    }
    
    ol, ul {
        margin-top: $space_pc_secondary - $li_font_mb;
    }
}

// List unstyled
.list-unstyled {
    margin-left: 0;
        
    li {
        @include lhCrop-a(1.79, 0.65);
        
        &:before {
            content: "";
        }
    }
}

.list-inline {
    margin-left: 0;

    .list-inline-item {
        margin-bottom: 0 !important;

        &:before {
            content: "";
        }
    }
}

address, dl, ol, ul, pre {
    margin-bottom: $space_pc_secondary;
                
    &:last-child {
        margin-bottom: 0;
    }
}

address, dl {
    line-height: 1.79;
    @include lhCrop-b(1.79, 0.80);
    
    &:last-child {
        @include lhCrop-a(1.79, 0.65);
    }
}

pre {
    line-height: 1.79;
}

/*=============================
// Emphasis
=============================*/
mark, .mark {
    background-color: $body_mark_background;
    padding: 0 0.2em;
}

/*=============================
// Text format
=============================*/
.regular {
    font-family: $font_primary !important;
    font-weight: 400 !important;
}

.bold {
    font-family: $font_primary_bold !important;
    font-weight: 700 !important;
}

/*=============================
// Text color
=============================*/
.text-secondary {
    color: $body_text_secondary_color !important;
}

a.text-secondary {
    &:hover {
        color: $body_links_hover_color !important;
    }
}

/*=============================
// Hr
=============================*/
hr {
    margin-top: 0;
    margin-bottom: $space_pc_secondary;

    &:last-child {
        margin-bottom: 0;
    }
}


/*=============================
// Pullquote
=============================*/
[class*="pullquote"] {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: $space_xs 0;
    
    .blockquote, blockquote {
        font-style: normal;
        border: 0;
        padding-left: 0;
        
        cite {
            font-style: normal;
        }
    }
}

/*=============================
// Caption
=============================*/
caption {
    font-size: $f_size_df;
    padding-top: $space_pc_secondary / 2;
    padding-bottom: 0;
    line-height: 1.79;
    @include lhCrop-b(1.79, 0.80);
    @include lhCrop-a(1.79, 0.75);
}

/*=============================
// Figcaption
=============================*/
figure {
    &:last-child {
        margin-bottom: 0;
    }

    figcaption {
        font-size: $figure-caption-font-size;
        text-align: center;
        margin-top: $space_pc_secondary / 2 !important;
        margin-bottom: 0 !important;
        line-height: 1.79;
        @include lhCrop-b(1.79, 0.80);
        @include lhCrop-a(1.79, 0.75);
    }
}
